<div class='container'>
  <h1>This is the profile of <%= @user.name %></h1>

  <h3>"<%= @user.latest_status_content %>" <%= time_ago(@user.latest_status) %></h3>

  <br>

  <%= form_for Status.new, remote: false do |f| %>
    <%= f.text_area :content, placeholder: 'What are you doing?', id: 'update-status' %>
    <%= f.submit 'Update Status', class: 'btn status-text-area' %>
  <% end if @user == current_user %>
</div>