<h4>
  <%= form_for Nudge.new do |f| %>
    <%= f.hidden_field :recipient_id, value: user.id %>
    <%= f.submit 'Nudge', class: 'btn', disabled: user.updated_or_was_nudged_recently?, disable_with: "Nudging..." %>
    <strong>
      <%= link_to user.name, user_path(user.slug), class: 'user-name'%>:
    </strong>
    "<%= sanitize(word_wrap(user.latest_status_content, line_width: 40)) %>" 
    <%= time_ago( user.latest_status) %>
  <% end %>
</h4>