<div class='container'>
  <%= form_for @user, class: 'form-inline', method: :put, url: update_settings_path do |f| %>
    <%= f.label 'Update username' %>
    <%= f.text_field :slug %>
    <%= f.label 'Update phone number' %>
    <%= f.text_field :phone, placeholder: '+19735557777' %>
    <%= f.submit 'Save' %>
  <% end %>
</div>