<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <script>
      var _rollbarParams = {'server.environment': '<%= Rails.env %>'};
      _rollbarParams['notifier.snippet_version'] = '2'; var _rollbar=['e607f76c16344dc6aee79da1f19202c5', _rollbarParams]; var _ratchet=_rollbar;
      (function(w,d){w.onerror=function(e,u,l,c,err){_rollbar.push({_t:'uncaught',e:e,u:u,l:l,c:c,err:err});};var i=function(){var s=d.createElement('script');var 
      f=d.getElementsByTagName('script')[0];s.src='//d37gvrvc0wt4s1.cloudfront.net/js/1/rollbar.min.js';s.async=!0;
      f.parentNode.insertBefore(s,f);};if(w.addEventListener){w.addEventListener('load',i,!1);}else{w.attachEvent('onload',i);}})(window,document);
    </script>
    <title><%= content_for?(:title) ? yield(:title) : 'Currently' %></title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', :media => 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body class='static-layout'>
    <%= render partial: 'layouts/navbar' %>
    <%= yield %>
    <%= render partial: 'layouts/footer' %>
    <%= render partial: 'shared/google_analytics' %>
  </body>
</html>
